$extra-small:372px;
$small: 720px;
$medium: 940px;
$large: 1140px;
$extra-large: 1600px;
$rojo: #ff385c;
$maxw: 1600px;

//mixins

@mixin module-wraper ($px, $pt, $pb) {
    margin: 0px;
    padding-right: $px;
    padding-left: $px;
    padding-top: $pt;
    padding-bottom: $pb;
}
@mixin assign-margin ($mr, $ml){
    margin-left: $ml;
    margin-right: $mr;
}

@mixin assign-padding ($pr, $pl){
    padding-left: $pl;
    padding-right: $pr;
}

main {
    background: linear-gradient(#000 70%, #eee 30%);
    display: grid;
}

//first module

.container{
    max-width: $maxw;
    padding: 0;
}

.module1 {
    @include assign-margin(24px, 24px);
    @include module-wraper (0px, 222px, 96px);
}

.module1-square {
    @include assign-padding(80px, 80px);
    min-height: 250px;
    max-height: 450px;
    max-width: $maxw;

    background-color: $rojo;
    border-radius: 12px; 
}

.square-content {
    padding: 11% 0px;
}

.content-h1 {
    justify-content: center;
    text-align: center;
    padding-bottom: 24px;
}
.h1-span {
    color: white;
    font-size:25px;
    font-weight:600;
    letter-spacing:-0.02em;
    line-height:32px;
}

.content-btn {
    text-align: center;
}

.btn-span {
    padding: 8px 16px;

    border:1px solid #FFFFFF;
    border-radius: 9px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 200;
    letter-spacing:-0.02em;
    line-height:20px;
}

//2nd module
.module2 {
    @include assign-margin(24px, 24px);
    
}
.content-picture {
    
    
}

.img-mod2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    vertical-align: bottom;
    border-radius: 12px;
    z-index: 0;
    position: relative;
}

.content-text {
    width: 100%;
    position: absolute;
    z-index: 1;   
}

.content

.content-h1 {
}

.content-btn {
    
}

// tercer module

.module3 {
    @include assign-margin(24px, 24px);
}

  //carousel

.melgar {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center center;
    vertical-align: bottom;
}

//medias

@media (min-width: $extra-small) {
    .h1-span {
        font-size: 28px;
    }
}

@media (min-width: $small) {
    .module1 {
        @include assign-margin(40px, 40px);
    }

    .h1-span {
        font-size: 32px;
        line-height: 43px;
    }

    .module2 {
        @include assign-margin(40px, 40px);
    }
}

@media (min-width: $medium) {
   
}

@media (min-width: $large) {
    .module1 {
        @include assign-margin(80px, 80px);
    }

    .h1-span {
        font-size: 38px;
        line-height: 43px;
    }

    .module2 {
        @include assign-margin(80px, 80px);
    }
}

@media (min-width: $extra-large) {
    .module1{
        @include assign-margin(auto, auto);
    }

    .h1-span {
        font-size: 48px;
        line-height: 43px;
    }

    .module2 {
        @include assign-margin(auto, auto);
    }
}
