.module1 {
  margin: 0px;
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 222px;
  padding-bottom: 96px; }

.module1-square {
  padding-left: 80px;
  padding-right: 80px;
  min-height: 250px;
  max-height: 450px;
  max-width: 1600px;
  background-color: #ff385c;
  border-radius: 12px; }

.square-content {
  padding: 11%; }

.content-h1 {
  justify-content: center;
  text-align: center;
  padding-bottom: 24px; }

.h1-span {
  color: white;
  font-size: 38px;
  font-weight: 600;
  letter-spacing: -0.02em;
  line-height: 43px; }

.content-btn {
  justify-content: center;
  background-color: #FF385C;
  border: 1px solid #FFFFFF; }

.btn-span {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 600; }

@media (max-width: 1600px) {
  .container2 {
    margin-left: 80px;
    margin-right: 80px;
    height: 80vh; } }

@media (max-width: 1140px) {
  .container2 {
    margin-left: 40px;
    margin-right: 40px; } }
