*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: black;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
    
}

.container{
    width: 100%;
    margin: 7px 0px;
    padding: 0 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav1{
    width: 100%;
    
    display: flex;

    align-items: baseline;
    transition: height .5s ease;
    
}

.nav1 a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    font-family:'Nunito', sans-serif;
    
}

.nav1 .logo1{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    flex: 1 auto;
}

.nav-list1{
    list-style: none;
    display: flex;
    margin: 20px;


    color: #fff;
    
}

.nav-link1{
    margin: 0 1rem;

    position: relative;
    color: #fff;
}
.nav-link1:hover{
    color: #fff;
}

.nav-link1::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform .5s ease;
}

.nav-link1:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    position: relative;
    background-color: #fff;
    color: #585858;
    padding: 0.5rem 0.5rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
    border:none;
}
.icono{
    padding: 5px;
}
#nav-cta:hover{
    background-color: #d3d3d3;
    
}

#nav-link2{
    margin-right: 10px;
    font-size: 0.99rem;
    color: #fff;
    padding: 10px;
}

#nav-link2:hover{
    background-color: rgba(126, 126, 126, 0.342);
    border-radius: 10rem;
}

#logoicono{
    font-size: 2rem;
}

#search{
    width: 900px;
    background-color: #fff;
    border-radius: 10rem;
    font-family:'Nunito', sans-serif;
    
}


#search .search-option{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

#search .search-option .item{
    align-self: center;
    padding: 0px 5px;
    font-size: 0.5rem;
    margin: 10px 20px;
}

#search .search-option h5{
    color:black;
    font-weight: bolder;
    font-size: 0.9rem;
}

#search .search-option .item input{
    border: none;
    padding: 0;
    font-size: 0.7rem;
    font-family:'Nunito', sans-serif;
}

#search .search-option .btn-theme{
    padding: 10px 20px;
    background: #FF5A5F;
    border: none;
    color: rgb(255, 255, 255);
    margin:0;
    box-shadow: 0;
    text-transform: capitalize;
    font-size: 2em;
    border-radius: 15rem;
}

.search-desactive{
    display: none;
}

.select-menu .options{
    position:absolute;
    width: 200px;
    right: 10px;
    padding: 10px;
    background: #fff;
    border-radius: 8px;
    margin-top: 15px ;
    box-shadow: 0 0 3px rgba(0,0,0,.1);
    font-family:'Nunito', sans-serif;
    font-size: 14px;
    display: none;
    z-index: 1000;
}

.select-menu.active .options{
    display: block;
    list-style: none;
}

.options .option {
    position: relative;
    height: 40px;
    cursor: pointer;
    padding: 0px;
    margin: 0px;
}
.options .option-text {
    margin: 0px;
}

.options .option:hover{
    background: #F2F2F2;
}

/* content*/
.content-travel{
    width: 100%;
    height: 300vh;
    background-color: #757575;
    background-size: cover;
    position: relative;
}

/* end*/

/*Apply styles after scroll*/
.scrolling-active{
    background-color: #fff;
    display: flex;
    align-items: baseline;

}

.scrolling-active .nav1{
    height: 2rem;
    margin-bottom: 20px;
    
}

.scrolling-active .nav1 a{
    color: #FF5A5F;
}
.scrolling-active #nav-link2{
    color: #FF5A5F;
    margin-bottom: 15px;
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
    margin-bottom: 15px;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active #search{
    display: none;
}
